@import url(/lesson_1/Zeroing_style.css);

$maxwidth: 1140px;
$columns:4;
$itempadding:20px;
$gapsize:10px;

.wrapper{
  max-width: $maxwidth;
  margin: 0 auto;
}
main{
  .goods-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gapsize;
   .goods-item{
    padding: $itempadding;
    
    flex-basis: ($maxwidth+($gapsize*$columns*(-1)))/$columns;
    box-shadow: 0px 0px 2px 2px rgba(26, 28, 29, 0.2) inset;
    
    h3{
      font-size: 30px;
      font-weight: 400;
    }
    p{
      font-size: 20px;
      margin-top: 10px;
    }
    p::after{
      content: ' руб';
    }
   }
  }
}
.cart-button{
  margin: 10px 0;
  padding: 10px 30px;
  font-size: 20px;
}