<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Style.css">
  <link rel="shortcut icon" href="dot.png" type="image/png">
  <title>eShop</title>

</head>

<body>

  <div class="wrapper">
    <div class="top">
      <div id="app">
        <header class="container">
          <div class="header_top">
            <!-- bin -->
            <div v-if="isBinOpen">
              <ul>
                <li v-for="(good,index) in bin">
                  <h3>
                    {{good.title}}
                  </h3>
                  <h3>
                    {{ good.price }}
                  </h3>

                  <button :data-index="index" v-on:click="removeBinHandler">
                    remove
                  </button>
                </li>
              </ul>
              <div v-if="sumBin()>0">
                <h3>Sum {{sumBin()}}</h3>
              </div>
            </div>
          </div>
          <div class="header_bottom">
            <!-- search input -->
            <input id="search" v-model="search" v-on:input="searchHandler" placeholder="search">

            <!-- button bin -->
            <div class="cart-button" type="button" v-on:click="openBinHandler">
              BIN
              <span v-if="bin.length>0">{{ bin.length }}</span>
            </div>
          </div>




        </header>
        <main class="container">
          <div class="goods-list">
            <div class="goods-item" v-for="(good, index) in filtredGoods">
              <img src="" v-bind:alt="imgAlt(index)">
              <h3>{{ good.title }}</h3>
              <p>Description {{good.title}} Lorem ipsum dolor sit amet.</p>
              <h3>{{ good.price }}</h3>
              <div class="item-button" :data-index="index" v-on:click="addToBin">Add</div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div class="footer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, natus iusto nam obcaecati velit
      maiores vel, perferendis vitae odio doloribus corrupti labore sed quisquam deleniti ullam doloremque. Tempore
      itaque doloribus assumenda ipsa, ipsam consectetur beatae magnam possimus ratione libero vitae architecto ducimus.
      Hic eligendi nesciunt eum deleniti eveniet, explicabo aspernatur neque provident. Quis doloribus aperiam
      repudiandae eius atque aliquid ex quos molestiae, officia non laudantium. Aliquam illo, delectus esse veniam eaque
      id natus debitis velit quia numquam voluptatum saepe expedita soluta. Maiores ullam error, reiciendis provident
      distinctio non deserunt modi fugit excepturi quae neque a quos incidunt optio vero. Soluta!
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script_vue.js"></script>

</body>

</html>