<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Style.css">
  <link rel="shortcut icon" href="dot.png" type="image/png">
  <title>HW_1</title>
</head>

<body>
  <header>
    <div class="bin wrapper"></div>

    <button class="cart-button" type="button">Bin</button><br>
    <input id="search">
  </header>
  <div class="wrapper">
    <div id="app">
      <!-- <h1 v-if="name.length>0"> Hello, my name is {{ name.toUpperCase() }}</h1>
      <input v-model="name"> -->

      <!-- {{ getNameToUpperCase() }}
      {{ fullName }} -->

      <input v-model="title">
      <input v-model="price">
      <button v-on:click="add">ADD</button>
      <ul>
        <li v-for="good in goods">
          <h3>{{good.title}}</h3><span>{{good.price}}</span>
        </li>
      </ul>
    </div>

    <main>
      <div class="goods-list"></div>
    </main>
    <form action="#">
      <input type="text">
      <button type="submit">ok</button>
    </form>
    <section class="text">
      <p>'Lorem ipsum dolor sit, aren't consectetur adipisicing elit.' - Ut asperiores neque aliquam consequatur ad
        dolorem. 'maxime odio, voluptate minima veniam optio quod ' - laborum deserunt? Illo culpa dicta totam soluta
        animi?
        'I dont'n have any free time' - said Any
      </p>
    </section>
    <section>
      <form class="user_form">
        <input type="text" placeholder="Name" id="inputName"><br>
        <input type="tel" placeholder="Tel" id="inputTel"><br>
        <input type="email" placeholder="E-mail" id="inputEmail"><br>
        <textarea name="" id="" cols="20" rows="5" placeholder="Your message"></textarea><br>
        <button id="sentButton">Send</button>
      </form>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- <script src="main.js"></script> -->
  <!-- <script src="lesson_2_class.js"></script> -->
  <!-- <script src="lesson_3.js"></script> -->
  <script src="script.js"></script>
  <script src="lesson_4.js"></script>
  <script src="lesson_5.js"></script>

</body>

</html>